<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <div id="app">
      <h1>{{ locales.appTitle }}</h1>
      <input v-model="teamName">
      <input v-model="teamColor" class="jscolor">
      <button v-on:click="addTeam">{{ locales.addTeam }}</button>
      <ul>
        <li v-for="team in teams">
          <span>{{ team.teamName }}</span> :
          <span style="color: {{ team.teamColor }}">{{ team.teamColor }}</span>
          <button v-on:click="removeTeam($index)">{{ locales.removeTeam }}</button>
        </li>
      </ul>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/vue/dist/vue.min.js"></script>
    <script src="bower_components/jscolor-picker/jscolor.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
